@model PaginationResponseViewModel<Category>
@{
    ViewData["Title"] = "Categories";
}

<h2>Categories</h2>
<h3>Total Records: @Model.TotalRecords</h3>
<p>
    <a asp-action="Create" class="btn btn-primary">Create new</a>
</p>


<div class="recordsPerPage">
    <nav>
        <ul>
            <li class="nav-item">
                <label class="form-label">Number of records to display: </label>
            </li>
            <li class="nav-item">
                <div class="mb-3">
                    <select asp-for="@Model.RecordsPerPage" id="recordsPerPage" class="form-select w-50" name="select_recordsPerPage" title="Records Per Page">
                        <option>3</option>
                        <option>5</option>
                        <option>10</option>
                        <option>25</option>
                    </select>
                </div>
            </li>
        </ul>
    </nav>
</div>

<partial name="_Pagination" />

<table class="table-bordered table-responsive-md table-striped table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.FirstOrDefault().OperationTypeId)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model.Data)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => category.OperationTypeId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@category.Id" class="btn btn-primary">
                        <i class="fa fa-pencil" title="Edit"></i>
                    </a> |
                    <a asp-action="Delete" asp-route-id="@category.Id" class="btn btn-danger">
                        <i class="fa fa-trash" title="Delete"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $("#recordsPerPage").on("change", function(){
            const recordsPerPage = $(this).val();
            location.href = `/categories/index?page=1&recordsPerPage=${recordsPerPage}`
        });
    </script>
}


